{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Login</h1>

    <form method="post" action="{{ path('profil') }}">
    <input type="text" name="_username" placeholder="Pseudo">
    <input type="password" name="_password" placeholder="Mot de passe">
    <input type="submit" value="Se connecter">
    </form>
{% endblock  %}
